@import "tailwindcss";
@plugin "daisyui" {
  themes: dim --default, dim --prefersdark;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}
@import "./fonts.css";

* {
  font-family: SFProDisplay, sans-serif;
}
